<%- include("../includes/header.ejs", {title:"Companies - " + result[0].company_name}); %>
<h1>Accounts</h1>
<ul>
    <li>First Name: <%= result[0].first_name %></li>
    <li>Last Name: <%= result[0].last_name %></li>
    <li>Email: <%= result[0].email %></li>
    <li>Skill(s):
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].skill_name %></li>
            <% } %>
        </ul>
    </li>
    <li>School(s):
        <ul>
            <% for(var i=0; result.length > i; i++) { %>
            <li><%= result[i].school_name %></li>
            <% } %>
        </ul>
    </li>
    <li>Company(s):
        <ul>
            <% for(var i=0; result.length > i; i++) { %>
            <li><%= result[i].company_name %></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/account/all"><< back</a>

<%- include("../includes/footer.ejs"); %>